# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
/.idea.AnotherMyouri.iml
# Datasource local storage ignored files
/../../../../../../../../:\Users\innoc\RiderProjects\AnotherMyouri\.idea\.idea.AnotherMyouri\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
